@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.control {
   
}
#initialHeader{
    background: #F9F7F3 ;
    

}

.container {
    background: #F9F7F3 ;
    background-color: transparent;
}

body {
    background: #F9F7F3  
}

.title {
  font-family: 'Aboreto', cursive;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  /* height: 40px; */
  height: 100px;
  align-content: center;
  bottom: 50px;
  /* right: 90px; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0 !important;
}

.button.is-link {
    display: inline-block;
    border-radius: 4px;
    background-color:  #95D581;
   
  }

  .button.is-link:hover {
    background-color: #304F6B !important; 
    color: white;
  }

  #whisp {
    position: fixed;
    opacity: 0.5;
  }

  .subtitle {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }